./target
.classpath
.project
.settings

vampirerunner-android/target
vampirerunner-android/.classpath
vampirerunner-android/.project
vampirerunner-android/.settings
vampirerunner-android/libs/
vampirerunner-android/.externalToolBuilders/
vampirerunner-android/gen/

vampirerunner-core/target
vampirerunner-core/.classpath
vampirerunner-core/.project
vampirerunner-core/.settings

vampirerunner-desktop/target
vampirerunner-desktop/.classpath
vampirerunner-desktop/.project
vampirerunner-desktop/.settings

assets/generated/wall-tiles/
assets/reference/

